@use '../../style.module';

@mixin text {
  @include style.fontFamily();
  color: white;
  @include style.textBlueShadow();
}

.wrapper {
  @include text();
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background:  linear-gradient(45deg, #2596be, #86a5bd);
}

.content {
  max-width: 400px;
  padding: 20px;
  

  h1 {
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 0;
  }
  
  p {
    font-weight: 300;
    font-size: 0.9em;
  }
}

.divider {
  height: 4px;
  margin: 20px 0;
  background-color: style.$blue;
  border-radius: 3px;
  background: linear-gradient(90deg, white, transparent);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px;
  max-width: 360px;
  

  .icon {
    min-width: 50px;
  
    img {
      display: block; 
    }
  }
  
  a {
    display: flex;
    @include style.fontFamily;
    @include style.textBlueShadow(3px);
    @include style.glassmorphism;
    max-width: 500px;
    border-radius: 10px;
    padding: 14px;
    gap: 30px;
    text-decoration: none;
    color: white;
    transition: 0.3s;

    h1 {
      margin: 0;
      font-size: 1em;
      font-weight: 800;
      letter-spacing: 1px;
    }

    p {
      font-weight: 500;
      font-size: 0.7em;
      margin: 0;
      display: flex;
      align-items: center;
    }

    
    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: -20px; left: -20px; right: -20px; bottom: -20px;
      background: rgb(0,249,255);
      background: linear-gradient(45deg, rgba(0,249,255,1) 0%, rgb(0, 89, 255) 100%);
      opacity: 0;
      transition: 0.3s;
      filter: blur(30px);
    }

    &:hover, &:focus {
      outline: none;
      transform: scale(1.01);

      &::before {
        opacity: 0.3;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .wrapper {
    background: rgb(196,203,212) url('../../images/hero-background.webp') left/cover fixed;
  }

  .content {
    max-width: 700px;
    backdrop-filter: blur(10px);
  border-radius: 20px;
  
    h1 {
      font-size: 3.2em;
    }
    
    p {
      font-size: 1.2em;
    }
  }

  .divider {
    height: 8px;
    margin: 30px 0;
  }

  .nav {
    max-width: 700px;

    .icon {
      min-width: 110px;
    }

    a {
      padding: 20px;
      border-radius: 20px;

      h1 {
        font-size: 1.8em;
        font-weight: 800;
        letter-spacing: 1px;
      }
  
      p {
        font-weight: 500;
        font-size: 1.1em;
      }
    }
  }
}