@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

$darkBlue: #000033;
$blue: #2196f3;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@mixin fontFamily {
  font-family: 'Open Sans', sans-serif;
}

@mixin textBlueShadow($blur: 4px) {
  text-shadow: 1px 1px $blur #00003333;
}

@mixin glassmorphism($transparency: 0.4, $blur: 15px) {
  background: rgba(255, 255, 255, $transparency);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}